!!!
%html{ng: {app: "app", controller: "application_controller"}, "ng-strict-di" => true}
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = favicon_link_tag
    = stylesheet_link_tag    'pt1', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'pt2', media: 'all', 'data-turbolinks-track' => true
    = include_gon
    = javascript_include_tag 'vendor', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.fade-ng-cloak{ng: {cloak: true}}
    = render "header/index"
    .container-fluid
      = yield

